<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href = "i.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>*{font-family: 'Nunito', sans-serif;}
    section{ width  : 90% ; margin : auto ; margin-top :120px;}
    </style>
    <title>Document</title>
</head>
<body>
    <nav class = "blue lighten-2">
        <div class="nav-wrapper container">
          <a href="index.html" class="brand-logo ">Aqua</a>
          <a href="index.html" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="blog.html">Blog</a></li>

            <li><a href="i.html">Irrigation predictor</a></li>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
            <li><a href="blog.html">Blog</a></li>

            <li><a href="i.html">Irrigation predictor</a></li>    
      </ul> 
      
      <section>
        <div id = "Projects">
         <h2 class = "center-align">Blogs</h2>
         <div class="row">
           <div class="grid-example col s4 l4 m4 offset-l4 offset-m4 offset-s4"><hr></div>
       
         </div>
 
 
         <div class="row">
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/3.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Aadhar hack<i class="material-icons right">more_vert</i></span>
                 <p><a href="https://address-formatter.herokuapp.com/"> link</a></p>
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">Aadhar Hack<i class="material-icons right">close</i></span>
                 <p>Qualified to semi-final of UIDAI aadhar hackathon.Built a address formatter which removes the redundancies in the 
                   aadhar address.<br>
                   Technologies used : Html , CSS , Javascript,Flask
                 </p>
               </div>
             </div>
           </div>
 
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/4.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Career Predictor(flask)<i class="material-icons right">more_vert</i></span>
                 <p><a href="https://career-predictor-1106.herokuapp.com/">link</a><br>
                
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">Career Predictor<i class="material-icons right">close</i></span>
                 <p>Using best model from logistic regression , random forest classifier and randomised search an app is made which 
                   predicts students prefered career placements.
                 <br> Technologies Used : Numpy , Pandas , sklearn , Flask , bootstrap, html , css , javascript</p>
               </div>
             </div>
           </div>
         
 
 
         
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/1.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Phishing site predictor(django)<i class="material-icons right">more_vert</i></span>
                 <p><a href="https://github.com/umak1106/Machine-Learning-Projects">Github repo</a></p>
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">Phishing site predictor<i class="material-icons right">close</i></span>
                 <p>Django is used for backend & html , css , javascript is used for frontend . Various ml models were explored to find the
                   right ml model to predict the presense of phishing sites. </p>
               </div>
             </div>
           </div>
         </div>
 
 
         <div class="row">
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/5.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">ML Models<i class="material-icons right">more_vert</i></span>
                 <p><a href="https://github.com/umak1106/ML-AI">github repo</a></p>
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">Ml models<i class="material-icons right">close</i></span>
                 <p>Jupyter notebook containing ml models like random forest classifier , desision tree , nlp .Auto ml using pycaret , etc.
                 </p>
               </div>
             </div>
           </div>
 
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/6.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Just fun python projects<i class="material-icons right">more_vert</i></span>
                 <p><a href="http://too-alien-for-earth-too-human-for-space.in/">link</a></p>
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">Just fun python projects<i class="material-icons right">close</i></span>
                 <p>Usage of various python libraries like tkinter , pytube , pygame to build small projects . usage of vpython 
                    to run physics simulations </p>
               </div>
             </div>
           </div>
         
 
 
         
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/2.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Espace<i class="material-icons right">more_vert</i></span>
                 <p><a href="http://too-alien-for-earth-too-human-for-space.in/">link</a></p>
                 
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">Espace<i class="material-icons right">close</i></span>
                 <p>Usage of NASA api to display Astronomical picture of the day , mars rover images ,iss live position
                   <br>
                   Technologies used : Nasa api , css , bootstrap , html , javascript
                 </p>
               </div>
             </div>
           </div>
         </div>
           </div>
        </div>
       </section>
  
  
  
  
  
  
  </div></section>
      

      <script>
        $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.carousel').carousel();
  });
      </script>
</body>
</html>