<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>*{font-family: 'Nunito', sans-serif;}
    section{ width  : 90% ; margin : auto ; margin-top :120px;}
    </style>
    <title>Document</title>
</head>
<body>
    <nav class = "blue lighten-2">
        <div class="nav-wrapper container">
          <a href="index.html" class="brand-logo ">Aqua</a>
          <a href="index.html" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="blog.html">Blog</a></li>

            <li><a href="i.html">Irrigation predictor</a></li>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
            <li><a href="blog.html">Blog</a></li>

            <li><a href="i.html">Irrigation predictor</a></li>    
      </ul> 
      
      <section>
        <div id = "Projects">
         <h2 class = "center-align">Blogs</h2>
         <div class="row">
           <div class="grid-example col s4 l4 m4 offset-l4 offset-m4 offset-s4"><hr></div>
       
         </div>
 
 
         <div class="row">
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/3.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Conserve Water<i class="material-icons right">more_vert</i></span>
                 <p><a href="https://conserves.co/"> link</a></p>
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">Conserve water<i class="material-icons right">close</i></span>
                 <p>Because of our planet’s abundance of water,
                   astronauts looking at Earth from outer space have dubbed it the Blue Marble.
                   In fact, water is one of the main reasons why life developed on our planet at all.
                   However, in recent years, that very resource has been diminishing at a disturbing rate —
                   which is precisely why water conservation has become such an important topic.

                 </p>
               </div>
             </div>
           </div>
 
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/4.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">A guide to water conservation<i class="material-icons right">more_vert</i></span>
                 <p><a href="https://theberkey.com/pages/a-guide-to-water-conservation">link</a><br>
                
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">A guide to water conservation<i class="material-icons right">close</i></span>
                 <p>The average adult human body comprises 50-65 percent of water.
                   They are averaging around 57-60 percent. With infants, they have a higher percentage.
                   Often around 75-78% water, dropping to 65% by one year.
The Earth has a limited amount of water. The water we have now is all we get, and it is recycled repeatedly.
                   The water cycle can help you understand this condition</p>
               </div>
             </div>
           </div>
         
 
 
         
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/1.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Benefits of water conservation<i class="material-icons right">more_vert</i></span>
                 <p><a href="https://www.thebalancesmb.com/conservation-efforts-why-should-we-save-water-3157877">Link</a></p>
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">Benefits of water conservation<i class="material-icons right">close</i></span>
                 <p>Ninety-seven percent of all water on the earth is salt water, which is not suitable for drinking.
Only 3% of water on Earth is fresh water, and only 0.5% is available for drinking.
The other 2.5% of fresh water is locked in ice caps, glaciers, the atmosphere, soil,
                   or under the earth's surface, or is too polluted for consumption </p>
               </div>
             </div>
           </div>
         </div>
 
 
         <div class="row">
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/5.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Water - an imp resource<i class="material-icons right">more_vert</i></span>
                 <p><a href="https://www.indiahomehealthcare.com/blogpost/the-importance-of-water-in-our-daily-lives/">Link</a></p>
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">Water - an imp resource<i class="material-icons right">close</i></span>
                 <p>Proper hydration is crucial to staying in good cognitive shape. Research has shown that inadequate water intake
                   can negatively impact our focus, alertness, and short-term memory
                 Drinking plenty of water while working out, taking part in sports or just being on the move, is essential.
                   Keeping ourselves hydrated also affects our strength, power, and endurance</p>
               </div>
             </div>
           </div>
 
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/6.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Benefits of water<i class="material-icons right">more_vert</i></span>
                 <p><a href="https://www.everydayhealth.com/water-health/water-body-health.aspx">link</a></p>
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">Benefits of water<i class="material-icons right">close</i></span>
                 <p>You know you need water to survive, and you feel better when you drink it regularly.
                   But what’s really at play in the body when you sip H2O? </p>
               </div>
             </div>
           </div>
         
 
 
         
           <div class = "col s12 m12 l4">
             <div class="card hoverable">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="./static/images/2.jpeg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Water<i class="material-icons right">more_vert</i></span>
                 <p><a href="https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/water/art-20044256">link</a></p>
                 
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">Water<i class="material-icons right">close</i></span>
                 <p>How much water should you drink each day? It's a simple question with no easy answer.
                   No single formula fits everyone. But knowing more about your body's need for
                   fluids will help you estimate how much water to drink each day
                 </p>
               </div>
             </div>
           </div>
         </div>
           </div>
        </div>
       </section>
  
  
  
  
  
  
  </div></section>
      

      <script>
        $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.carousel').carousel();
  });
      </script>
</body>
</html>